################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Platypus/.vs/Platypus
/Platypus/obj
