################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Platypus/.vs/Platypus
/Platypus/obj
/.vs
/Platypus.Data/obj
/Platypus.Model/obj
/Platypus.Model/Platypus.Model.csproj.user
/Playpus.Repository/obj
/Platypus.Security/obj
/Platypus/bin/Debug/netcoreapp3.1
/Platypus.Data/bin/Debug/netcoreapp3.1
/Platypus.Model/bin/Debug/netcoreapp3.1
/Platypus.Security/bin/Debug/netcoreapp3.1
/Platypus.Service/bin/Debug/netcoreapp3.1
/Platypus.Service/obj
/Playpus.Repository/bin/Debug/netcoreapp3.1
/Platypus.Repository/bin/Debug/netcoreapp3.1
/Platypus.Repository/obj
